body {
  background-image: url(../image/lena.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0; }

.head {
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(128, 128, 128, 0.6); }
  .head ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 50px; }
    .head ul li {
      list-style: none;
      margin: 0px 20px;
      cursor: pointer; }
      .head ul li a {
        text-decoration: none;
        color: darkred;
        font-size: 25px;
        font-weight: bold; }
